#titulo-uno {
    color: red;
    background-color: black;
}

#palabra {
    color: black;
}


h3 { 
    color: red;

}


.pantalla {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.imagen-uno {
    background-color: rgb(244, 238, 238);
}


.imagen-dos {
    background-image: url('tu-imagen-2.jpg');
    color: white;
}

.header-fijo {
  /* 1. Lo fijamos en la pantalla */
  position: fixed; 
  
  /* 2. Lo pegamos al techo y a los lados */
  top: 0;
  left: 0;
  width: 100%;
  
  /* 3. Estética básica */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
  
  /* 4. Aseguramos que siempre esté "por encima" de otros elementos */
  z-index: 1000;
}

body {
  /* ¡IMPORTANTE! Como el header ahora "flota", tapará el inicio del contenido. 
     Debes darle un margen al body igual a la altura del header. */
  margin-top: 70px; 
}

/* Customizamos nuestra barra */
.navbar {
    /* 1. Aumentamos el tamaño arriba y abajo (ej: 20px) */
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    
    /* 2. Transición suave para cuando cambie la sombra */
    transition: all 0.3s ease;
  }
  
  /* Esta clase hará que la sombra aparezca */
  .shadow-scroll {
    box-shadow: 0px 1px 2px 0px rgba(191, 191, 191, 0.692);
    padding-top: 20px !important; /* Opcional: que se encoja un poquito al bajar */
    padding-bottom: 20px !important;

    /* Aseguramos que ocupe todo el ancho */
    width: 100%;
    left: 0;
    right: 0;
  }

  /* 1. Cambia el color del nombre de la página (Brand) */
.navbar-brand {
    color: #000000 !important; /* Un amarillo dorado, por ejemplo */
    font-weight: bold;

}

/* 2. Cambia el color de los enlaces del menú */
.navbar .nav-link {
    color: #000000 !important; /* Blanco */
}

/* 3. ¡Extra! Cambia el color cuando pasas el mouse (Hover) */
.navbar .nav-link:hover {
    color: #ccd0ff !important;
    text-decoration: underline;
}