

h3 { 
    color: red;

}


.pantalla {
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fondoAzulGradiente1 {
    background: linear-gradient(145deg, #1e3c72 0%, #9aaed2 100%) !important;
    border: none !important;  
}

.fondoAzulGradiente2 {
    background-color: none !important;
    border: none !important;  
    backdrop-filter: blur(10px);
}

.fondoAzulGradiente3 {
    background: linear-gradient(145deg, #b8d1ff 0%, #e3eaf7 100%) !important;
    border: none !important;  
}

body {
  /* ¡IMPORTANTE! Como el header ahora "flota", tapará el inicio del contenido. 
     Debes darle un margen al body igual a la altura del header. */
  margin-top: 70px; 
}

/* Customizamos nuestra barra */
.navbar {
    /* 1. Aumentamos el tamaño arriba y abajo (ej: 20px) */
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* Para que se vea con ese grosor de la foto */
    letter-spacing: -0.02em;
    
    /* 2. Transición suave para cuando cambie la sombra */
    transition: all 0.3s ease;
  }
  
  /* Esta clase hará que la sombra aparezca */
  .shadow-scroll {
    box-shadow: 0px 1px 2px 0px rgba(191, 191, 191, 0.692);
    padding-top: 20px !important; /* Opcional: que se encoja un poquito al bajar */
    padding-bottom: 20px !important;

    /* Aseguramos que ocupe todo el ancho */
    width: 100%;
    left: 0;
    right: 0;
  }

  /* 1. Cambia el color del nombre de la página (Brand) */
.navbar-brand {
    color: #6ba3ff !important; /* Un amarillo dorado, por ejemplo */
    font-weight: bold !important;
    font-size: 2.5rem !important;
    font-family: "Playfair Display", serif !important;

}

/* 2. Cambia el color de los enlaces del menú */
.navbar .nav-link {
    color: #ffffff !important; /* Blanco */
}

/* 3. ¡Extra! Cambia el color cuando pasas el mouse (Hover) */
.navbar .nav-link:hover {
    color: #ccd0ff !important;
    text-decoration: underline;
}